.custom-navbar {
  background: #ffbd6a;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0;
}

/* CATEGORY ROW (TOP) */
.navbar-category-row {
  display: flex;
  justify-content: center;
  gap: 7rem;
  padding: 1rem;
  background: #f5e6d3;
  /* border-bottom: 1px solid #eee; */
  font-size: 0.75rem;
}

/* MAIN ROW */
.navbar-main-row {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 6%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

/* LINK GROUPS */
.nav-group {
  display: flex;
  gap: 5rem;
}

.nav-group.left {
  justify-content: flex-end;
  padding-right: 6rem;
}

.nav-group.right {
  justify-content: flex-start;
  padding-left: 6rem;
}

/* LINKS */
.navbar-category-row a,
.navbar-main-row a {
  font-size: 13px;
  font-weight: 500;
  color: #800000;
  text-decoration: none;
  position: relative;
}

.navbar-category-row a::after,
.navbar-main-row a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
}

.navbar-category-row a:hover::after,
.navbar-main-row a:hover::after {
  width: 100%;
}

.navbar-category-row a:hover,
.navbar-main-row a:hover {
  color: #600000;
}

/* LOGO */
.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navbar-logo img {
  width: 50px;
  height: 63px;
}

.navbar-logo img:hover {
  transform: scale(1.1);
}

/* ACCORDION */
.accordion {
  display: inline;
}

.accordion-header {
  font-size: 0.75rem;
  font-weight: 500;
  color: #800000;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.accordion-header::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
  background: #600000;
  transition: width 0.3s ease;
}

.accordion-header:hover::after {
  width: 100%;
}

.accordion-header:hover {
  color: #600000;
}

.accordion-content {
  position: absolute;
  /* background: #f5e6d3; */
  /* border: 1px solid #eee; */
  border-radius: 4px;
  padding: 10px;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 100;
}

.accordion-content a {
  font-size: 0.75rem;
  font-weight: 500;
  color: #800000;
  text-decoration: none;
  white-space: nowrap;
}

.accordion-content a:hover {
  color: #600000;
}
