@import "tailwindcss";
@import "./styles/global.css";

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #800000;
  background-color: #f5e6d3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #800000;
  text-decoration: inherit;
}
a:hover {
  color: #600000;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid #800000;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #f5e6d3;
  color: #800000;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  background-color: #c58e8e;
  color: #f5e6d3;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #800000;
    background-color: #f5e6d3;
  }
  a:hover {
    color: #d9824b;
  }
  button {
    background-color: #f8e1ad;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 30, 30, 40;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f5e6d3;
  margin: 0;
}

/* Hide horizontal scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.footer-logo {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.footer-logo img {
  height: 60px;
  width: 60px;
}
